<h1>Show Post Page</h1>

<h2><%= @post.title %></h2>
<img src="<%= @post.image.medium.url %>" />
<p><%= @post.caption %></p>
<p>Submitted by <%= current_user.name%></p>
<% if !hasUserLiked(@post, current_user.liked) %>
  <%= render 'likes/likesform' , post: @post %>
<% else %>
<%= render 'likes/unlikeform' , post: @post %>
<% end%>

<p>Likes: <%= @post.likes.length %></p>


<% if current_user.email === "samudoh93@gmail.com"%>
<% current_user.update_attribute :admin, true %>
<%end %>

<% if current_user.try(:admin?) %>
<form class="" action="<%= upload_insta_path %>" method="post">

<button type="submit" class="btn btn-primary">Upload To Social Media</button>

<input type="hidden" name="id" value="<%= @post.id %>">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

</form>
<% end %>



  <%= pluralize(@post.comments.count, "Comment") %>
  <% @comments.each do |comment| %>
    <div class="comment">
      <h2>
      <p class="username">
        <%= comment.user.name %>
      </p>
      </h2>
      <p class="content">
        <%= comment.content %>
      </p>
    </div>
  <% end %>
  <%= render "comments/commentform" %>



<%= link_to "Back" , root_path %>
<%= link_to "Edit" , edit_post_path %>
<%= link_to "Delete" , post_path , method: :delete, data: { confirm: "Are you Sure?"}%>
